<div class="login-card">
  <h2 class="page-title">New Blog Post</h2>
  <form class="form signup-form">
    <div class="form-group">
      <label for="blogpost-title">Title:</label>
      <input class="form-input" type="text" id="blogpost-title" />
    </div>
    <div class="form-group">
      <label for="blogpost-content">Content:</label>
      <input class="form-input" type="text" id="blogpost-content" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Create</button>
    </div>
  </form>
</div>
<script src="/js/create-blogpost.js"></script>